.Teclado {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.button{
    padding: 5px;
    font-size: 15px;
    background-color: rgb(29, 29, 29);
    color: greenyellow;
    
}

.button:hover{
    background-color: rgb(139, 8, 8);
    cursor: pointer;
}

.button:hover[value="+"]{
    background-color: rgb(139, 8, 8);
    cursor: pointer;
}



.button[value="AC"]{
    grid-column-end: span 2;
} 

.button[value="BS"]{
    grid-column-end: span 2;
} 

.button[value="="]{
    background-color: rgb(29, 2, 54);
} 
.button:hover[value="="]{
    background-color: rgb(139, 8, 8);
    cursor: pointer;
}
.button[value="+"]{
    background-color: rgb(29, 2, 54);
} 
.button:hover[value="+"]{
    background-color: rgb(139, 8, 8);
    cursor: pointer;
}
.button[value="-"]{
    background-color: rgb(29, 2, 54);
} 
.button:hover[value="-"]{
    background-color: rgb(139, 8, 8);
    cursor: pointer;
}
.button[value="/"]{
    background-color: rgb(29, 2, 54);
} 
.button:hover[value="/"]{
    background-color: rgb(139, 8, 8);
    cursor: pointer;
}
.button[value="*"]{
    background-color: rgb(29, 2, 54);
} 
.button:hover[value="*"]{
    background-color: rgb(139, 8, 8);
    cursor: pointer;
}


